<div class="container" id="font_color">
  <div class="">
    <div class="row">
      <div class="col-sm-2">
        <div class="strong text-right">Title :</div>
      </div>
      <div class="col-sm-10"><%= @latest.announcement.title%></div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="strong text-right">Description :</div>
      </div>
      <div class="col-sm-10">
        <%= @latest.announcement.description %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="strong text-right">Created By :</div>
      </div>
      <div class="col-sm-10">
        <%= @latest.user.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="strong text-right">Created At :</div>
      </div>
      <div class="col-sm-10">
        <%= @latest.announcement.created_at.strftime("%I:%M %P %b %d") %>
      </div>
    </div>
  </div>
  <br>
   <%= render partial: 'update'  %>
</div>

