<div class="container cotainer-margin">
  <div class="row">
    <div class="col-sm-8">
      <div role="tabpanel" class="forum-section">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#Forum" aria-controls="home" role="tab" data-toggle="tab">Forum</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="Forum">
            <ul>

              <li><%= link_to "Announcements",announcements_path%>
                <li><%= link_to "General Discussions",generals_path%></li>
                <li><a href="#">Domain Specific </a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="latest-threads">
          <div class="head">LATEST THREADS</div>
          <div class="content-area">
            <% @latest.each do |latest| %>
            <div class="threads">

              <%if latest.announcement_id? %>
              <div class="user"><%= latest.user.name.titleize %></div>
              <div class="post-body"><%= truncate(latest.announcement.description, :ommision => "... Read More", :length => 70) %></div>
              <div class="date-time"><%= latest.announcement.created_at.strftime("%I:%M %P %b %d") %> </div>
              <% else %>
              <div class="user"><%= current_user.name %></div>
              <div class="post-body"><%= truncate(latest.general.description, :ommision => "... Read More", :length => 70) %></div>
              <div class="date-time"><%= latest.general.created_at.strftime("%I:%M %P %b %d") %> </div>
              <% end %>
            </div>
            <% end %>

                </div>
              </div>
            </div>
    </div>
  </div>

